<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musicjunky"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_headphones"
        android:label="@string/app_name"
        android:theme="@style/Theme.Theme_orange" >
        <activity
            android:name="com.musicjunky.ExtensionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.musicjunky.services.HeadphoneBluetoothService" />
        <service android:name="com.musicjunky.download.DownloadService"
            android:exported="false">
            <intent-filter >
                <action android:name="com.musicjunky.intent.action.DOWNLOAD"/>
                <action android:name="com.musicjunky.intent.action.PAUSE"/>
                <action android:name="com.musicjunky.intent.action.REMOVE"/>
                <action android:name="com.musicjunky.intent.action.RESUME"/>
                <action android:name="com.musicjunky.intent.action.CLEAR_ALL"/>
            </intent-filter>
        </service>
        <service android:name="com.musicjunky.player.MediaPlaybackService"
            	android:exported="false" >
            <intent-filter >
                <action android:name="com.musicjunky.player.intent.action.BOOT_SERVICE" />
                <action android:name="com.musicjunky.player.intent.action.PLAY" />
                <action android:name="com.musicjunky.player.intent.action.PAUSE" />
            </intent-filter>
         </service>
         <service android:name="com.musicjunky.player.android.MediaPlaybackService"
            android:exported="false" />
        <receiver 
            android:name="com.musicjunky.receiver.Bootloader"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>